<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pcurio.spotifystreamer" >

    <!-- App Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_spotify_white_24dp"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_streamer" />
        </activity>
        <activity
            android:name=".TrackActivity"
            android:label="@string/title_activity_tracks"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pcurio.spotifystreamer.MainActivity" />
        </activity>

        <activity
            android:name=".PlaybackActivity"
            android:label="@string/title_activity_playback">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pcurio.spotifystreamer.TrackActivity" />
        </activity>

        <service android:name="com.example.pcurio.spotifystreamer.MusicService"/>

    </application>

</manifest>
